*{
    padding: 0px;
    margin: 0px;
}

body{
    font-size: 16px;
    /* background-color: black;
    color: white; */
}
.cont-1{
    background-color:gray;
}
footer{
    background: gray;
}
footer a{
    color: black;
    text-decoration: none;
}
.info h3{
    color:red;
}
.cont-2{
    width: 33%;
    padding: .5em;
}
.cont-3{
    width:25% ;
    padding: .5em;
}
.cont-footer{
    width: 33%;
    margin-left: 1em;
    margin-right: 1em;
    padding-top: 1em;
}